{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}


{% block body_class %}template-homepage{% endblock %}

{% block content %}

<div class="hero-section">
    <h1>{{ page.title }}</h1>
    <div class="hero-text">
        {{ page.body|richtext }}
    </div>
</div>

<section class="blog-posts center">
    <h2>Últimos Artigos</h2>

    <div class="card-container">
        {% for post in latest_posts %}
        {% with post=post.specific %}
        <div class="card">
            {% if post.main_image %}
            <div class="card-image">
                {% image post.main_image fill-400x250 %}
            </div>
            {% endif %}

            <div class="card-content">
                <h3><a href="{% pageurl post %}">{{ post.title }}</a></h3>
                <p>{{ post.intro }}</p>
            </div>
        </div>
        {% endwith %}
        {% empty %}
        <p>Sem artigos ainda.</p>
        {% endfor %}
    </div>
</section>

{% endblock %}