{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>
        {% block title %}
        {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% wagtail_site as current_site %}
        {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
        {% endblock %}
    </title>

    {% if page.search_description %}
    <meta name="description" content="{{ page.search_description }}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if request.in_preview_panel %}
    <base target="_blank">
    {% endif %}

    <!-- ===== Global Stylesheets ===== -->
    <link rel="stylesheet" href="{% static 'css/mysite.css' %}">
    {% block extra_css %}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}

    <!-- ===== NAVBAR ===== -->
    <header class="navbar ">
        <div class="center ">


            <nav class="nav-container">
                <a href="/" class="logo">Licos Tech</a>
                
                <ul class="nav-links">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="{% slugurl 'about' %}">Sobre Mim</a></li>
                    <li><a href="{% slugurl 'contact' %}">Contacto</a></li>
                </ul>

                <form action="{% url 'search' %}" method="get" class="nav-search">
                    <input type="text" name="query" placeholder="Pesquisa..." value="{{ search_query|default:'' }}">
                    <button type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                    </button>
                </form>
            </nav>

        </div>
    </header>


    <!-- ===== MAIN CONTENT ===== -->
    <main>


        {% block content %}{% endblock %}

    </main>

    <!-- ===== FOOTER ===== -->
    <footer class="footer">
        <p>© {% now "Y" %} Licos Tech. Todos os direitos reservados.</p>
    </footer>

    <!-- ===== GLOBAL JS ===== -->
    <script src="{% static 'js/mysite.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>

</html>