{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}




{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}



<section class="blog-posts center">
    <div class="card-container">
        {% for post in blogpages %}
        {% with post=post.specific %}
        <div class="card">
            {% with post.main_image as main_image %}
            {% if main_image %}
            <div class="card-image">
                {% image main_image fill-400x250 %}
            </div>
            {% endif %}
            {% endwith %}

            <div class="card-content">
                <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
                <p>{{ post.intro }}</p>
            </div>
        </div>
        {% endwith %}
        {% endfor %}
    </div>
</section>

{% endblock %}