/* Global Layout */
html {
    height: 100%;
}

body {

    background: #fafafa;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* Navbar */
.navbar {
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: 1.5rem 0;

}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 1rem;
}

.logo {
    font-weight: bold;
    color: #111;
    text-decoration: none;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    margin: 0;
}

.nav-links a {
    color: #111;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    text-decoration: underline;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Hero */
.hero {

    height: 400px;
    overflow: hidden;
    margin-bottom: 2rem;
}

/*.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(65%);
}*/

.hero-text {

    text-align: center;
}

.hero-text h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.hero-text p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.btn {
    background: black;
    color: white;
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
}

/* Footer */
.footer {
    text-align: center;
    padding: 1.5rem;
    background: #f4f4f4;
    border-top: 1px solid #ddd;
    margin-top: auto;
}

.social-icons img {
    width: 20px;
    margin: 0 8px;
    opacity: 0.7;
}